<%= link_to '建立追蹤清單', new_detect_list_path %>
<%= link_to '切換使用者', users_path %>

<hr>

<% @detect_lists.each_with_index do |detect_list, detect_list_index| %>
  <h3><%= detect_list.name %></h3>
  <%= detect_list_index > 0 ? link_to('上移', move_detect_list_path(detect_list, direction: 'up')) : '上移' %>
  <%= detect_list_index < @detect_lists.length - 1 ? link_to('下移', move_detect_list_path(detect_list, direction: 'down')) : '下移' %>
  <br>
  <%= link_to '編輯追蹤清單名稱', edit_detect_list_path(detect_list) %>
  <%= link_to '刪除追蹤清單', detect_list_path(detect_list), data: { confirm: '您確定要刪除？' }, method: :delete %>
  <br>
  <%= link_to '新增追蹤股', new_detect_list_detect_item_path(detect_list) %>
  <table>
    <thead>
      <tr>
        <th>股票名稱</th>
        <th>股票代碼</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% detect_list.display_detect_items.each_with_index do |detect_item, detect_item_index| %>
        <tr>
          <td><%= detect_item.stock.name %></td>
          <td><%= detect_item.stock.code %></td>
          <td>
            <%= detect_item_index > 0 ? link_to('上移', move_detect_item_path(detect_item, direction: 'up')) : '上移' %>
            <%= detect_item_index < detect_list.display_detect_items.length - 1 ? link_to('下移', move_detect_item_path(detect_item, direction: 'down')) : '下移' %>
            <%= link_to '刪除', detect_item_path(detect_item), data: { confirm: '您確定要刪除？' }, method: :delete %>
          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <hr>
<% end %>
