<!DOCTYPE html>
<html>
  <head>
    <title>財報狗作業</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <% if notice %>
        提示訊息： <%= notice %><br>
      <% end %>
      <% if alert %>
        警告訊息： <%= alert %><br>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
